.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .clearfix {
  display: flex;
  height: 64px;
}
.Weather img {
  display: inline-block;
  margin-right: 15px auto;
  width: 64px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 15px;
  position: relative;
  top: -34px;
}
