.Weather {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 11px 11px 29px #666666, -11px -11px 29px #ffffff;
  border: 1px solid #dadde1;
  border-radius: 15px;
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 40px;
  margin: 50px 5px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather form .btn-primary {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 2px 8px 25px #666666, -11px -11px 29px #ffffff;
  border: 1px solid #dadde1;
  border-radius: 15px;
  color: rgba(33, 33, 33, 0.8);
  font-weight: bolder;
}

.Weather form .form-control {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 2px 8px 25px #666666, -11px -11px 29px #ffffff;
  border: 1px solid #dadde1;
  border-radius: 15px;
}

.Weather h1 {
  color: rgba(33, 33, 33, 0.8);
  display: block;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 28px;
  margin: 20px 0 10px 0;
  text-shadow: 2px 2px 5px #666666;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .clearfix {
  display: flex;
  height: 64px;
}
.Weather img {
  display: inline-block;
  margin-right: 15px auto;
  width: 64px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 400px;
  text-shadow: 2px 2px 5px #666666;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -28px;
  text-shadow: 2px 2px 5px #666666;
}
